@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Manager</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
